
<div id="container">
     <aside>
       <header>
         <!-- <input type="text" placeholder="search"> -->
       </header>
       <ul >
         <li (click)="getchat(item)" class="chat-items" *ngFor="let item of chatThredList" >
           <img src="{{image_server_path}}/{{item.imagePath}}" width="50" height="50" alt=""
           onerror="this.onerror=null; this.src='assets/images/statics/not_found.png'">
           <div style="max-width:137px ;">
             <h2 *ngIf="item.providerName !=null;else providerName">
              {{item.title}}<br>
              <span>
                {{item.userName}}
              </span>
            </h2>
             <ng-template #providerName>
                <span style="color:white ;">
                  <span>العميل رقم</span> 
                  <span>
                    {{item.serviceRequestId}}
                  </span>
              </span>
            </ng-template>
             <h3  *ngIf="item.isActive == true;else isActive">
              <span class="status orange"></span>
               مرئى
               </h3>
               <ng-template #isActive>
                <span class="status black"></span>
                غير مرئى
              </ng-template>
           </div>
         </li>
       </ul>
     </aside>
     <main>
       <header>
        <img src="{{imagePath}}" width="50" height="50" alt=""
        onerror="this.onerror=null; this.src='assets/images/statics/not_found.png'">
         <div >
           <h2 style="text-align:center ;" >{{ChatTitle}}</h2>
           <h3  *ngIf="message_number>0;else message_number_block">
            هناك {{message_number}} رسالة
           </h3>
           <ng-template #message_number_block> لا توجد رسائل  </ng-template>
         </div>
         <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
       </header>
       <ul id="chat">

         <li  *ngFor="let item of Message_List">

            <div [class.me]="item.fromMe" *ngIf="item.fromMe == true;else fromyou">
                <div class="entete">
                  <h2>مقدم الخدمة</h2>
                  <h3 class="px-1">{{item.creationDate |  date:'medium'}}</h3>
                  <span class="status blue"></span>
                </div>
                <!-- if contain message  -->
                <div *ngIf="item.message !=''">
                  <div class="triangle mt-1"></div>
                    <div class="message" >{{item.message}}</div>
                </div>
                <!-- if contain file image -->
                <div  *ngIf="item.filePath !=null && item.fileType == 1">
                      <!-- <div class="message"> -->
                        <img src="{{image_server_path}}/{{item.filePath}}" 
                              width="100" 
                              height="100"
                              style="border-radius:20px ;" 
                              alt=""
                              class="mt-1"
                              onerror="this.onerror=null; this.src='assets/images/statics/not_found.png'">
                      <!-- </div>          -->
                </div>
                <!-- if contain file pdf -->
                <div *ngIf="item.filePath !=null && item.fileType == 3">
                    <!-- <div class="message" > -->
                        <a [href]="image_server_path+'/'+item.filePath"
                          target="_blank"
                          [download]="image_server_path+'/'+item.filePath"
                          style="margin-top: 1px;">
                              {{item.filePath}}
                        </a>          
                    <!-- </div> -->
                </div>
            </div>
            
            <ng-template #fromyou class="you">
              <div class="entete">
                <span class="status green"></span>
                <h2>{{phone_user}}</h2>
                <h3>{{item.creationDate | date}}</h3>
              </div>
              <div class="triangle"></div>
              <!-- if contain message  -->
              <div *ngIf="item.message !=''">
                <div class="message" >{{item.message}}</div>
            </div>
            <!-- if contain file image -->
            <div  *ngIf="item.filePath !=null && item.fileType == 1">
                  <div class="message">
                    <img src="{{image_server_path}}/{{item.filePath}}" width="50" height="50" alt=""
                          onerror="this.onerror=null; this.src='assets/images/statics/not_found.png'">
                  </div>         
            </div>
            <!-- if contain file pdf -->
            <div *ngIf="item.filePath !=null && item.fileType == 3">
                <div class="message" >
                    <a [href]="imgURL2+item?.attachmentFilePath"
                      target="_blank"
                      [download]="imgURL2+item?.attachmentFilePath"
                      style="text-decoration: none;">
                      <i class="fa fa-file"
                          style="font-size: 22px;"
                          aria-hidden="true"></i>
                    </a>          
                </div>
            </div>
            </ng-template>
           
          </li>
          <li style="height:0.001px ;"> <label id="EndOfChatMessage"></label></li>
         

       </ul>
      
       <footer>
        <form [formGroup]="Form">

          <textarea style="margin-bottom:2px ;"
                    formControlName="message" 
                    #msg placeholder="أكتب الرسالة هنا"></textarea>

          <input type="file"  
                  formControlName="image"  
                  #file accept="image/*" 
                  id="getFile" 
                  style="display: none"
                  (change)="preview(file.files)" />
         
          <input type="file"  
                  formControlName="file"  
                  #file2 
                  name="filename"
                  id="getFilepdf" 
                  style="display: none"
                  (change)="preview2(file2.files)" />


          <a class="btn-send" 
              style="margin-left:10px;"
              onclick="document.getElementById('getFile').click()"
              class="btn-send" >

              <i class="fa fa-picture-o" aria-hidden="true"></i> 
          </a>
         
          <a class="btn-send" 
              style="margin-left:10px;"
              onclick="document.getElementById('getFilepdf').click()"
              class="btn-send" >

              <i class="fas fa-file"></i>          
          </a>

          <a class="btn-send" style="margin-left:10px;"
            (click)="sendmsg()"
            class="btn-send" >

              <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </a>
        </form>
       </footer>
     </main>
   </div>