<app-breadcrumb [title]="'إدارة المجموعات'" [active_item]="'Form Wizard'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="padding-bottom:5px !important ;">
          <div *ngIf="update; else elseBlock1">
            <h5 class="pb-2">تعديل مجموعة موجودة</h5>
            يمكنك تعديل مجموعة أو أكثر فى قائمة المجموعات
          </div>
          <ng-template #elseBlock1>
            <h5 class="pb-2">إضافة مجموعة جديد</h5>
            يمكنك إضافة مجموعة أو أكثر فى قائمة المجموعات
          </ng-template>

        </div>
        <div class="card-body">
          <form [formGroup]="InsertForm">
            <div class="row">
              
              <div class="form-group col-sm-12">
                <label for="nameA"> أسم المجموعة باللغة العرببة</label>
                <input class="form-control" id="nameA" type="text" placeholder="موظفى خدمة العملاء" required="required"
                  formControlName="nameAr"><!-- onlyAlphabets -->

                <ng-container class="invalid" style="color: red;"
                  *ngIf="InsertForm.get('nameAr').hasError('required') && InsertForm.get('nameAr').touched">
                 <span class="text-danger"> أسم المجموعة باللغة العرببة مطلوب</span> </ng-container>
              </div>
              <div class="form-group col-sm-12">
                <label for="name">أسم المجموعة باللغة الانجليزية</label>
                <input class="form-control" id="name" type="text" placeholder="Group Name" required="required"
                  formControlName="name"><!-- onlyAlphabets -->

                <ng-container class="invalid" style="color: red;"
                  *ngIf="InsertForm.get('name').hasError('required') && InsertForm.get('name').touched">
                  <span class="text-danger">أسم المجموعة باللغة الانجليزية مطلوب</span>
                </ng-container>

              </div>
             
              <div class="form-group col-sm-12">
               <label>أختر القسم</label>
               <Select class="form-control" 
               formControlName="deptID"
                 (change)="SelectedItem($event)">

                 <option value="" selected disabled> {{DepartmentTitle}} </option>
                 <option *ngFor="let obj of Dept_List" value="{{ obj.id }}">
                   <h3 class="selected-value"> {{ obj.name }} </h3>
                 </option>
               </Select>
             </div>

             
            </div>


            <div *ngIf="update; else elseBlock">
              <button class="btn btn-primary pull-right" type="submit" [disabled]="!InsertForm.valid"
                (click)="Update()">
                تعديل
              </button>
            </div>
            <ng-template #elseBlock>
              <button class="btn btn-primary pull-right" type="submit" [disabled]="!InsertForm.valid"
                (click)="Insert()">
                إضافة
              </button>
            </ng-template>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>